body
{
  background-color : lightcyan;

}

.head
{
     background : #173459;
     border-radius : 2px;
     width : 100%;
     height : 80px;
     margin : 0 auto;
    

    
}


a.bouton {
 /** Ces directives indiquent au lien de ressembler à un bouton pour les principaux moteurs de rendu **/
 -webkit-appearance: button;
 -moz-appearance: button;
 appearance: button;
 /**Les directives en dessous enlèvent l'apparence par défaut en bleu et avec du texte souligné pour un lien hypertexte **/
 text-decoration: none;
 color: initial;
}



#web_site_name
{
   font-family: times new roman;
   border : 1px cyan;
   text-align : center;
   color : cyan;
   


   
}
.bien
{


    font-size : 8px;
    font-family: trajan;

}



.main_buttons
{: 


}

/* ---------- page's bottom---------- */ 

.feet
{
   border-width: thin;
   border-style: groove;
   outline-style: double;
   width: 100%;
   height: 50px;
  

}

#contact, #social
{
   border : 1px  black;
   color : rgb(25, 50, 100);
   underline : none;
   

}

